<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.breezes.fx.editor">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher">
        <activity
            android:name="info.breezes.fx.editor.EditorMainActivity"
            android:label="@string/title_activity_editor_main">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:mimeType="text/*" />
            </intent-filter>
        </activity>
    </application>

</manifest>
